/*Register page*/
#userPhoto{
    height:50px;
    width:50px;
    padding:5px;
}
/*End of register page*/

/*Edit personal details page*/
#userPhoto2{
    height:120px;
    width:150px;
    padding:5px;
}
/*End of edit personal details page*/