 <h2 style="color: rgba(149, 149, 149, 0.80);">Change Password</h2>
 <i>(Note. All fields tagged with a star symbol(*) are strictly required)</i>
 <br/><br/>

<form method="post" action="{% url 'users:change_user_password' %}">
{% csrf_token %}

<div class="row">
    <div class="col-sm-5">

    Current Password*:<br />
    <input type="password" name="current_password" value="{{ change_password_form.current_password.value }}" class="form-control" placeholder="Your original password" />
    <small class="alert-danger">{{ change_password_form.current_password.errors }}</small><br />

    New Password*:<br />
    <input type="password" name="new_password" value="{{ change_password_form.new_password.value }}" class="form-control" placeholder="Your new password" />
    <small class="alert-danger">{{ change_password_form.new_password.errors }}</small><br />

    Comfirm New Password*:<br />
    <input type="password" name="conf_password" value="{{ change_password_form.conf_password.value }}" class="form-control" placeholder="Repeat your new password" />
    <small class="alert-danger">{{ change_password_form.conf_password.errors }}</small><br />

    </div>

    <span class="clearfix"></span>
    <hr />
    <input class="btn btn-sm btn-primary" type="submit" value="Submit" name="submit" />
</div>
</form>